*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
   
    background: rgba(0, 0, 0, 0.63)url(wall2.png)no-repeat center center fixed;
    background-blend-mode: darken;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.banner{
    width: 100%;
    min-height: 100px;
    background-color: rgba(14, 2, 14, 0.438);
    position: fixed;
    border-radius: 10px
}
.logo{
    float: left;
    margin: 10px 20px 20px 50px;
    background: none;
}
.banner ul{
    background: rgba(0, 0, 0, 0.267);
    list-style-type: none;
    display: flex;
    justify-content: center;
    float: right;
    color: aliceblue;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner ul li{
    background: rgba(0, 0, 0, 0.267);
    list-style-type: none;
    margin: 40px 25px;
    font-size: 15px;
    border-radius: 10px
}
.prom{
    width: 80%;
    min-height: 200px;
    color: rgb(42, 165, 114);
    margin-top: 100px;
    background: url(https://thumbs.gfycat.com/SlimWarmBluemorphobutterfly-max-1mb.gif);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.product{
    width: 70%;
    /* min-height: 800px; */
    background: none;
    /* background-color: rgba(14, 73, 73, 0.479); */
    margin-top: 30px;
    border: 2px solid rgb(188, 199, 28);
    border-radius: 20px;
}
.product h1{
padding-top: 15px;
font-size: 40px;
color: aliceblue;
    text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border: solid 2px black;
background-color:rgba(17, 32, 75, 0.795);
border-radius: 20px;


}
.stock{
    float: left;
    margin: 10px 20px 40px 20px;
    width: 28%;
    min-height: 200px;
    background-color:rgba(17, 32, 75, 0.795);
    color: aliceblue;
    border: 4px inset rgb(188, 199, 28);

}
.stock h2, h3, h4 , p{
   background: none;
   text-align: center;
   justify-content: center;
    background-color:rgba(0, 0, 0, 0.514);
    
    
}

.image-pos{
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 45px;
    margin-left: 54px;
    width: 120px;
    height: 100px;
}
.image-pos img{
    width: 160px;
    height: 130px;
    padding: 5px 5px 5px 5px;
    background-color:rgba(17, 32, 75, 0.945);
    border: solid 5px black;
    ;
    
}

.limit{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
    
}

.search{
    text-align: center;
    background: none;
}
.search input{
    background-color : #d1d1d1;
    font-family: Verdana; font-weight: bold; font-size: 19px; background-color: #0d141bb2;
    height:50px;
    width: 60%;
    color: rgb(228, 231, 236);
    border: 4px solid rgba(255, 255, 0, 0.74);
    border-radius: 30px;
    
}
.search button{
    width: 70px;
    border: 4px solid rgba(255, 255, 0, 0.74);
    border-radius: 30px;
    color:aliceblue;
}




@media screen and (max-width: 1150px) {
    .stock{
        width: 40%;
        margin: 10px 20px 40px 30px;
    }
    .image-pos{
        margin-left: 70px;
    
    }
    
    }
@media screen and (max-width: 1145px) {
    .stock{
        width: 40%;
        margin: 10px 20px 40px 30px;
    }
    .image-pos{
        margin-left: 80px;
    
    }
    
    }

@media screen and (max-width: 1090px) {
    .stock{
        width: 40%;
        margin: 10px 20px 40px 30px;
    }
    .image-pos{
        margin-left: 60px;
    
    }
    
    }

@media screen and (max-width: 991px) {
.stock{
    width: 40%;
    margin: 10px 20px 40px 30px;
}
.image-pos{
    margin-left: 40px;

}

}

@media screen and (max-width: 829px) {

    .stock{
        width: 40%;
        margin: 10px 20px 40px 30px;
    }
    .image-pos{
        margin-left: 27px;
    
    }
}

@media screen and (max-width: 716px) {
    .stock{
        width: 80%;
        margin: 10px 20px 40px 50px;
    }
    .image-pos{
        margin-left: 100px;
    
    }
}
@media screen and (max-width: 600px) {
    .stock{
        width: 76%;
        margin: 10px 20px 40px 40px;
    }
    .image-pos{
        margin-left: 60px;
    
    }
    
    }

@media screen and (max-width: 533px) {
.stock{
    width: 76%;
    margin: 10px 20px 40px 40px;
}
.image-pos{
    margin-left: 55px;

}

}


@media screen and (max-width: 460px) {
    .stock{
        width: 76%;
        margin: 10px 20px 40px 30px;
    }
    .image-pos{
        margin-left: 32px;
    
    }
}

@media screen and (max-width: 405px) {
    .stock{
        width: 76%;
        margin: 10px 20px 40px 30px;
    }
    .image-pos{
        margin-left: 15px;
    
    }
}


@media screen and (max-width: 355px) {
    .stock{
        width: 76%;
        margin: 20px 20px 20px 30px;
    }
    .image-pos{
        margin-left: 10px;
    
    }
    .image-pos img{
        width: 140px;
    height: 110px;
    }

}

