body {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  background-image: url('wall2.png');
  background-size: cover;
}

h1 {
  color: white;
  margin-left: 20px;
}
label {
  color: white;
}

li {
  color: white;
}
input {
  background-color: #d9f1ff;
  width: 15%;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn {
  width: 8%;
  margin-left: 40px;
}
